.searchInput {
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  width: 100%;
  max-width: 250px;
}

@media (max-width: 768px) {
  .searchInput {
    width: 100%;
    max-width: none;
  }
}

.startScreen {
  height: 100vh;
  background-color: #8bd08b;
}

@media (max-width: 768px) {
  .startScreen {
    padding: 1rem;
  }
}
