.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #a18787;
}
body {
  font-family: "Marhey", sans-serif;
}

h1 {
  font-family: "Rakkas", cursive;
}
.searchInput {
  /* background-color: #c17878; */
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  width: 250px;
}
.startScreen {
  height: 100vh;
  background-color: #8bd08b;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
} 