h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

.card {
  padding: 2em;
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }
}
